{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">= 0.25%", "not dead"]
        }
      }
    ],
    "stage-2",
    "flow",
    "react"
  ],
  "plugins": ["syntax-class-properties", "transform-class-properties"]
}
